{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <script>

        function iniciaModal() {
            
            modalID = 'modal_add_task'

            const modal = document.getElementById(modalID);
            if (modal) {
                modal.classList.add('mostrar');
                modal.addEventListener('click', (e) => {
                    if (e.target.id == modalID || e.target.className == 'fechar') {
                        modal.classList.remove('mostrar');
                        localStorage.fechaModal = modalID;
                    }
                });
            }
        }
        function change_color(div_task){
            let classes_div = div_task.classList
            let list_classes_div = Array.from(classes_div);
            let cor = list_classes_div[1]

            let done = div_task.getAttribute('done')

            if (done == 'False'){
                div_task.setAttribute('done', "True")
            }else{
                div_task.setAttribute('done', "False")
            }

            if(cor == 'red'){
                div_task.classList.remove('red')
                div_task.classList.add('green')
            }else if(cor=='green'){
                div_task.classList.remove('green')
                div_task.classList.add('red')
            }else if(cor!='gray'){
                div_task.classList.add('green')
            }

        }

    </script>
</head>

<body>
    <div id="modal_add_task" class="modal-container">
        <div class="modal">
            <button class="fechar">X</button>
            <h3 class="subtitulo">Nova tarefa:</h3>
            <form action="{% url 'addtask'%}" method='POST' id='form_addtask'>
                {% csrf_token %}
                <div class="bloco_form"><input type="text" id='titulo' class="input_titulo" placeholder="Título"
                        name="assunto"></div>
                <div class="bloco_form">
                    <input type="text" id='hora' class="input_hora" placeholder="Hora" name="horas">
                    <input type="text" id='tempo' class="input_tempo" placeholder="Tempo" name="intervalos">
                    <input type="checkbox" id='repeticao' class="input_repeticao" placeholder="repeticao"
                        name="replays">
                </div>
                <div id="maior">

                    <div>
                        <div class="box">
                            <input id="domingo" type="checkbox" name="domingo">
                            <span class="check">D</span>
                            <label for="domingo">domingo</label>
                        </div>
                        <div class="box">
                            <input id="segunda" type="checkbox" name="segunda">
                            <span class="check">S</span>
                            <label for="segunda">segunda</label>
                        </div>
                        <div class="box">
                            <input id="terca" type="checkbox" name="terca">
                            <span class="check">T</span>
                            <label for="terca">terça</label>
                        </div>
                        <div class="box">
                            <input id="quarta" type="checkbox" name="quarta">
                            <span class="check">Q</span>
                            <label for="quarta">quarta</label>
                        </div>
                        <div class="box">
                            <input id="quinta" type="checkbox" name="quinta">
                            <span class="check">Q</span>
                            <label for="quinta">quinta</label>
                        </div>
                        <div class="box">
                            <input id="sexta" type="checkbox" name="sexta">
                            <span class="check">S</span>
                            <label for="sexta">sexta</label>
                        </div>
                        <div class="box">
                            <input id="sabado" type="checkbox" name="sabado">
                            <span class="check">S</span>
                            <label for="sabado">sabado</label>
                        </div>
                    </div>
                </div>
                <button type="submit" class="button_c" value="Cadastrar">Confirmar</button>
            </form>
        </div>
    </div>

    <div class="container">
        <div class="btn">
            <button onclick="iniciaModal()" class="buttonADD">ADD TASK</button>
            <button onclick="enviarAlteracoes()" class="buttonSave">Salvar</button>
        </div>

        <div class="titulo">
            <section class="tarefas">
                <div class="letras_dias">
                    <p>D</p>
                </div>
                <div class="letras_dias">
                    <p>S</p>
                </div>
                <div class="letras_dias">
                    <p>T</p>
                </div>
                <div class="letras_dias">
                    <p>Q</p>
                </div>
                <div class="letras_dias">
                    <p>Q</p>
                </div>
                <div class="letras_dias">
                    <p>S</p>
                </div>
                <div class="letras_dias">
                    <p>S</p>
                </div>
            </section>
        </div>

        {% for task in dict_tasks %}
        
    
            <div class="container_tarefas">
                <div class="letras_tarefas">
                    <p>{{task.assunto}}</p>
                    <p>10 MIM</p>
                </div>
                <section class="tarefas">
                    {% for class, done in task.colors_dones %}                 
                        <div class="bloco_dias {{class}}" onclick="change_color(this)" done={{done}}></div>                    
                    {% endfor %}
                </section>
            </div>
        {% endfor %}
        <a><button>Deletar</button></a>
    </div>

    
</body>

</html>